.scroll {
  height: 2000px; }

* {
  padding: 0;
  margin: 0;
  outline: none; }

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300; }

.bold {
  font-weight: 500; }

.g-flex {
  display: flex; }

.g-dir-row {
  flex-direction: row; }

.g-dir-col {
  flex-direction: column; }

.g-hor-ali {
  justify-content: space-around; }

.g-ver-ali {
  align-content: center; }

.g-half {
  width: 50%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-image: url(../images/header_image.jpg);
  background-size: cover;
  height: 600px;
  min-height: 70px;
  overflow: hidden; }
  header .overflow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00539f;
    opacity: 0.7; }
  header .wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 50px;
    z-index: 1; }
    header .wrapper .logo {
      width: 50px; }
    header .wrapper nav {
      float: right; }
      header .wrapper nav .nav_link {
        line-height: 50px;
        height: 50px;
        font-size: 18px;
        padding: 0 8px;
        color: white;
        text-decoration: none; }
        header .wrapper nav .nav_link:hover {
          text-decoration: underline; }
    header .wrapper .hamburger {
      display: none;
      float: right;
      height: 24px;
      margin: 13px 0;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer; }
      header .wrapper .hamburger .burger_line {
        width: 32px;
        height: 3px;
        background: white;
        transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s; }
  header .description {
    position: absolute;
    left: 50px;
    bottom: 50px; }
    header .description h1 {
      font-weight: 300;
      font-size: 40px; }
    header .description h2 {
      font-weight: 300;
      width: 400px; }
  @media screen and (max-width: 550px) {
    header .description {
      left: 20px;
      bottom: 20px; } }

.hamburger_clicked .topper {
  transform: rotate(-45deg);
  width: 25px !important;
  margin-left: -5px;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.hamburger_clicked .bottomer {
  transform: rotate(45deg);
  width: 25px !important;
  margin-left: -5px;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; }

@media screen and (max-width: 820px) {
  nav {
    display: none; }
  .hamburger {
    display: flex !important; } }

@media screen and (max-width: 550px) {
  header {
    height: 400px; }
  .wrapper {
    padding: 10px 20px !important; }
  .description h1 {
    font-size: 30px;
    line-height: 1; }
  .description h2 {
    font-size: 16px;
    width: 300px !important; } }

@media screen and (max-width: 350px) {
  .description h1 {
    font-size: 25px !important; }
  .description h2 {
    font-size: 14px;
    width: 280px !important; } }

.section {
  padding-top: 60px; }
  .section .title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 35px; }
  .section a {
    color: #00539f;
    text-decoration: underline; }
    .section a:active {
      color: #ee3b33;
      text-decoration: none; }
    .section a .subtitle {
      text-align: center;
      font-weight: 300;
      margin-bottom: 50px; }
    @media screen and (max-width: 650px) {
      .section a .subtitle {
        margin-bottom: 20px; } }
  .section .gallery_row {
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap; }
    .section .gallery_row .gallery_image {
      width: 30%;
      height: 30%;
      margin-bottom: 50px; }
  @media screen and (max-width: 650px) {
    .section .gallery_row .gallery_image {
      width: 40%;
      height: 40%;
      margin: 20px auto; } }
  @media screen and (max-width: 450px) {
    .section .gallery_row {
      flex-direction: column; }
      .section .gallery_row .gallery_image {
        width: 90%;
        height: 90%; } }
